<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script type="text/javascript" src="/home/anas/Stuff/Skill Orbit/login/app.js"></script>
	<link href="/css/success.css" rel="stylesheet" type="text/css">
	<title>Error Page 2</title>
</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>No account found, register first</h1>
			<br>
			<br>
			<button class="btn btn-outline-success"><a href="/signup" > Sign Up</a></button>
		</div>
	</div>

</body>
</html>